*{
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#wrapper{
    width: 600px;
    background: #f44336;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
}

h1{
    color: ghostwhite;
    margin-bottom: 15px;
}

#newWrapper{
    width: 100%;
    display: flex;
    height: 40px;
    margin-bottom: 20px;
}

hr{
    margin-bottom: 20px;
    width: 100%;
}

#add{
    flex-basis: 140px;
    border: none;
    outline: none;
    background: #d9d9d9;
    cursor: pointer;
}

#add:hover{
    background: #bbbbbb;
}

#newItem{
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 5px 15px;
    font-size: 16px;
}

ul{
    list-style-type: none;
    padding: 0;
}

.remove{
    border: none;
    outline: none;
    width: 50px;
    height: 100%;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
}

.remove:hover{
    background: #d9d9d9;
}

li{
    flex-grow: 1;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    background: #f9f9f9;
}

li:nth-of-type(even){
    background: #e9e9e9;
}

#todos{
    width: 100%;
    overflow-y: auto;
}

#todos::-webkit-scrollbar{
    width: 10px;
}

#todos::-webkit-scrollbar-track{
    background: transparent;
}

#todos::-webkit-scrollbar-thumb{
    background: #00384b;
    border-radius: 10px;
}

#todos::-webkit-scrollbar-thumb:hover{
    background: #001629;
}